.header {
<<<<<<< Updated upstream
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #26303f;
    position: sticky;
    top: 0;
    z-index: 100;
    color: aliceblue;
    padding-left: 10px;
    text-align: end;
  }

.header__name {
    margin-left: 20px;
  }

.subheader__nav {
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .All {
    font-size: 15px;
    font-weight: 700;
  }

=======
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__LogoNameIn {
  font-size: 15px;
  padding-right: 20px;
  color: white;
  margin-left: -20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}  

.header__searchInput {
  height: 29px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 29px !important;
  width: 35px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background-color: #cd9042;
  margin-right: 15px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
>>>>>>> Stashed changes
